<app-apresentacao-projetos
  [title]="'Alternar BI'"
  [about]="'Aplicativo para alternar as paginas do power bi automaticamente'"
  [purpose]="'O propósito do sistema é automatizar a troca de páginas do BI que fica sendo transmitido em uma Televisão'"
  [problemsSolved]="'Viabilizou a transmissão automática do power bi na Televisão da empresa'"
  [images]="[
    '../../../assets/images/Alternar BI/ab1.png',
    '../../../assets/images/Alternar BI/ab2.png',
    '../../../assets/images/Alternar BI/ab3.png'
  ]"
  [technologies]="['JAVA', 'JAVAFX']",
  [githubUrl]="'https://github.com/MurilloHMS/AlternarBI'"
></app-apresentacao-projetos>
