@import '../../../style/variables.scss';

.header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 20px;
    background: $primary-color;
    animation: slideDown 0.4s ease-in-out;
}

.logo img{
    height: 45px;
}

.menu ul{
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.menu li{
    margin: 0 15px;

}

.menu a{
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s;
    color: $text-primary-color;
    padding: 8px 15px;
    position: relative;
    
}

.menu a:hover{
    color: $secondary-color;
    cursor: pointer;
}

.menu a::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: $secondary-color;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.5s ease-in-out;
}

.menu a:hover::before {
        visibility: visible;
        transform: scaleX(1);
    }

@media (max-width: 768px) {
    .header {
        flex-direction: column; /* Empilha logo e menu */
        align-items: center;
        text-align: center;
        padding: 10px;
    }

    .menu ul {
        flex-direction: column; /* Menu em coluna */
        gap: 10px;
    }

    .menu li {
        margin: 5px 0; /* Reduz espaço entre itens */
    }

    .menu a {
        padding: 10px 20px; /* Aumenta o espaço clicável */
    }
}

@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}