<app-apresentacao-projetos
  [title]="'Controle de Estoque Proauto'"
  [about]="'Controle de estoque, desenvolvido em C# com windows forms que permite o gerenciamento dos produtos do almoxarifado da empresa Proauto Kimium'"
  [purpose]="'O propósito do sistema é melhorar a organização e produtividade de equipes, facilitando o controle das entradas e saidas dos produtos.'"
  [problemsSolved]="'Resolvido divergências de estoque, melhoria na agilidade no controle de produtos, facilidade na busca de produtos, controle de produtos em estoque, controle de produtos em falta.'"
  [images]="[
    '../../../assets/images/CdePk.png',
    '../../../assets/images/CdePk1.png',
    '../../../assets/images/CdePk2.png'
  ]",
  [technologies]="['Java', 'JavaFX', 'PostgreSQL', 'SpringBoot', 'RestApi']"
></app-apresentacao-projetos>

