<app-apresentacao-projetos
  [title]="'khora Note'"
  [about]="'NotePad para envio de arquivos importantes criptografados.'"
  [purpose]="'O propósito do app é criptografar arquivos sensíveis e importantes, realizando um envio seguro via e-mail.'"
  [problemsSolved]="'Empresa precisava de arquivos protegidos para salvar informações importantes em servidor em que muitos usuários utilizam e que local onde é armazenado precisa ficar publico'"
  [images]="[
    '../../../assets/images/knLogin.png',
    '../../../assets/images/knConteudo.png',
    '../../../assets/images/knConteudoCriptografado.png'
  ]"
></app-apresentacao-projetos>
