<div id="certificacoes" class="certificados-section">
    <h2>CERTIFICAÇÕES</h2>
    <div class="certificados">
      <div class="certificado-card" *ngFor="let cert of certificacoes">
        <img [src]="cert.imagem" [alt]="cert.nome" />
        <div class="certificado-info">
          <h3>{{ cert.nome }}</h3>
          <p><strong>Emissor:</strong> {{ cert.organizacaoEmissora }}</p>
          <p><strong>Emissão:</strong> {{ cert.dataEmissao }}</p>
          <!-- <p><strong>Código da Credencial:</strong> {{ cert.codigoCredencial }}</p> -->
          <a [href]="cert.urlCredencial" target="_blank" class="visit-link">Ver Credencial →</a>
        </div>
      </div>
    </div>
</div>


