<app-apresentacao-projetos
  [title]="'VT Manager'"
  [about]="'Controle de vale transporte, desenvolvido em Java com JavaFX, que permite o gerenciamento dos vales transporte dos funcionários'"
  [purpose]="'O propósito do sistema é facilitar o gerenciamento e impressão de comprovantes, melhorando o controle da empresa'"
  [problemsSolved]="'Diminuído o tempo para gerar os vales dos funcionários, e melhora na validação dos valores'"
  [images]="[
    '../../../assets/images/RedoManager/rm1.png',
    '../../../assets/images/RedoManager/rm2.png',
  ]",
  [technologies]="['Java', 'JavaFX', 'JasperReports', 'SqLite']"
></app-apresentacao-projetos>
