<app-apresentacao-projetos
  [title]="'Kimium Connect'"
  [about]="'Aplicativo desenvolvido para controlar e automatizar os envios de email informativo e marketing para clientes da empresa. O sistema permite o cadastro de clientes, segmentação de listas, criação de campanhas personalizadas e análise de resultados através de relatórios detalhados.'"
  [purpose]="'Automatizar o processo de envio de emails para clientes, melhorar a comunicação e aumentar a eficiência das campanhas de marketing.'"
  [problemsSolved]="'Automatização do envio de emails, segmentação eficaz de clientes, personalização de campanhas e análise detalhada de resultados.'"
  [images]="[
    '../../../assets/images/KimiumConnect/kc1.png',
    '../../../assets/images/KimiumConnect/kc2.png',
    '../../../assets/images/KimiumConnect/kc3.png'
  ]",
  [technologies]="['Java', 'Api Rest', 'Spring Boot', 'JavaFx']"
></app-apresentacao-projetos>

