<app-apresentacao-projetos
  [title]="'Site Proauto Kimium'"
  [about]="'Site para melhorar visibilidade da empresa online'"
  [purpose]="'Apresentar os produtos, serviços e consultorias, disponibilizar meios de comunicação da empresa, facilitar controle de projetos internos e disponibilizar dados para os clientes.'"
  [problemsSolved]="'Melhorado visibilidade da empresa, automações de relatórios internos, controles de produtos, veículos e documentos, automação de separação de holerites, envios de informativos e newsletters aos clientes e coleta de dados'"
  [technologies]="['Angular', 'Java', 'API Rest', 'SpringBoot']",
  [liveUrl]="'https://proautokimium.com.br'"
></app-apresentacao-projetos>
