<div id="home" class="home">
    <img src="../../../assets/images/avatar.png" alt="avatar" class="avatar"/>
    <h1>
        Olá! Me chamo Murillo <br/>
        Eu sou um desenvolvedor <span class="highlight">Back End</span>
    </h1>
    <p>
        I am a seasoned full-stack software engineer with over <br />
        8 years of professional experience, specializing in backend development. <br />
        My expertise lies in crafting robust and scalable SaaS-based <br />
        architectures on the Amazon AWS platform.I am a seasoned full-stack software engineer with over <br />
        8 years of professional experience, specializing in backend development. <br />
        My expertise lies in crafting robust and scalable SaaS-based <br />
        architectures on the Amazon AWS platform.
    </p>
    <div class="buttons">
        <button class="btn primary">Entrar em contato</button>
        <button class="btn secondary">Baixar Curriculo</button>
    </div>
    <h3>EXPERIENCIA COM</h3>
    <div class="skills">
        <img src="../../../assets/images/c-sharp.png" alt="c#"/>
        <img src="../../../assets/images/dotnet.png" alt=".Net">
        <img src="../../../assets/images/blazor.png" alt="Blazor">
        <img src="../../../assets/images/vba.png" alt="VBA">
        <img src="../../../assets/images/java.png" alt="Java">
        <img src="../../../assets/images/angular.png" alt="Angular">
        <img src="../../../assets/images/html.png" alt="HTML">
        <img src="../../../assets/images/css.png" alt="CSS">
        <img src="../../../assets/images/python.png" alt="Python">
    </div>
</div>

<div id="projects" class="projects-section">
    <h2>PROJECTS</h2>
    <div class="projects">
      <div class="project-card">
        <img src="assets/html-project.png" alt="HTML Project" />
        <div class="project-info">
          <p>Click Here to Visit</p>
          <h3>HTML Tutorial</h3>
          <a href="#" target="_blank" class="visit-link">→</a>
        </div>
      </div>
      <div class="project-card">
        <img src="assets/css-project.png" alt="CSS Project" />
        <div class="project-info">
          <p>Click Here to Visit</p>
          <h3>CSS Tutorial</h3>
          <a href="#" target="_blank" class="visit-link">→</a>
        </div>
      </div>
    </div>
  </div>

  <div id="experience" class="experience-section">
    <h2>EXPERIENCE</h2>
    <div class="experience">
      <div class="experience-item">
        <img src="assets/google-logo.png" alt="Google" />
        <div class="experience-info">
          <h3>Lead Software Engineer at Google</h3>
          <p class="date">Nov 2019 – Present</p>
          <p>
            As a Senior Software Engineer at Google, I played a pivotal role in
            developing innovative solutions for Google's core search algorithms.
          </p>
        </div>
      </div>
      <div class="experience-item">
        <img src="assets/apple-logo.png" alt="Apple" />
        <div class="experience-info">
          <h3>Junior Software Engineer at Apple</h3>
          <p class="date">Jan 2016 – Dec 2017</p>
          <p>
            During my tenure at Apple, I held the role of Software Architect,
            shaping mission-critical software projects.
          </p>
        </div>
      </div>
      <div class="experience-item">
        <img src="assets/meta-logo.png" alt="Meta" />
        <div class="experience-info">
          <h3>Software Engineer at Meta</h3>
          <p class="date">Jan 2017 – Oct 2019</p>
          <p>
            At Meta, I focused on the design and implementation of backend systems
            for large-scale data processing.
          </p>
        </div>
      </div>
    </div>
  </div>
  