.home {
    text-align: center;
    color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem ;
}

.avatar {
    width: 170px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 1rem;
}

h1 {
    font-size: 2.5rem;
    margin: 1rem 0;
    font-weight: bold;

    .highlight {
        background: linear-gradient(90deg, #ff6a00, #ee0979);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

p {
    font-size: 1rem;
    margin: 1rem 0;
    line-height: 1.5;
}

.buttons {
    margin: 2rem 0;

    .btn {
        padding: 0.8rem 2rem;
        font-size: 1rem;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin: 0 0.5rem;

        &.primary {
            background-color: #fff;
            color:000000;
        }

        &.secondary {
            background-color: transparent;
            color: #fff;
            border: 2px solid #fff;
        }
    }
}

.skills {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;

    img {
        width: 40px;
        height: 40px;
    }

    img:hover {
        transform: scale(1.2);
        cursor: pointer;
    }
}

.projects-section {
    text-align: center;
    margin: 2rem 0;
    color: white;
  
    h2 {
      font-size: 2.5rem;
      color: #ff6a00;
      margin-bottom: 2rem;
    }
  
    .projects {
      display: flex;
      justify-content: center;
      gap: 2rem;
  
      .project-card {
        background-color: #1e1e1e;
        border-radius: 10px;
        overflow: hidden;
        width: 300px;
        text-align: left;
  
        img {
          width: 100%;
          height: 150px;
          object-fit: cover;
        }
  
        .project-info {
          padding: 1rem;
  
          p {
            font-size: 0.9rem;
            color: #aaa;
          }
  
          h3 {
            font-size: 1.2rem;
            color: white;
          }
  
          .visit-link {
            font-size: 1.5rem;
            color: #ff6a00;
            text-decoration: none;
          }
        }
      }
    }
  }

  .experience-section {
    text-align: center;
    margin: 2rem 0;
    color: white;
  
    h2 {
      font-size: 2.5rem;
      color: #007bff; // Azul para combinar com o design
      margin-bottom: 2rem;
    }
  
    .experience {
      display: flex;
      flex-direction: column;
      gap: 2rem;
  
      .experience-item {
        display: flex;
        align-items: center;
        background-color: #1e1e1e;
        border-radius: 10px;
        padding: 1rem;
  
        img {
          width: 50px;
          height: 50px;
          margin-right: 1rem;
        }
  
        .experience-info {
          text-align: left;
  
          h3 {
            font-size: 1.2rem;
            color: white;
          }
  
          .date {
            font-size: 0.9rem;
            color: #aaa;
            margin-bottom: 0.5rem;
          }
  
          p {
            font-size: 0.9rem;
          }
        }
      }
    }
  }
  