<div id="home" class="home">
    <img src="../../../assets/images/avatar.png" alt="avatar" class="avatar"/>
    <h1>
        Olá! Me chamo Murillo <br/>
        Eu sou um desenvolvedor <span class="highlight">Back End</span>
    </h1>
    <p>
      Sou um desenvolvedor .NET com 4 anos de experiência profissional, especializado em otimização de processos e desenvolvimento de soluções personalizadas. <br />
      Tenho experiência na criação de aplicações eficientes e escaláveis, utilizando tecnologias como C#, ASP.NET, Blazor e WPF. <br />
      Recentemente, ampliei meus conhecimentos com Angular, buscando sempre aprimorar minhas habilidades para enfrentar desafios cada vez mais complexos. <br />
      Meu foco é automatizar tarefas e criar soluções que gerem valor real para os negócios.
  </p>
  
    <div class="buttons">
        <button class="btn primary"><a href="https://wa.me/5511975797732" target="_blank">Entrar em contato</a></button>
        <button class="btn secondary"><a style="color: white;" href="../../../assets/files/Curriculo Murillo Henrique Melo Santos .pdf" download="Curriculo-MurilloHMS.pdf">Baixar Curriculo</a></button>
    </div>
    <h3>EXPERIENCIA COM</h3>
    <div class="skills">
        <img src="../../../assets/images/c-sharp.png" alt="c#"/>
        <img src="../../../assets/images/dotnet.png" alt=".Net">
        <img src="../../../assets/images/blazor.png" alt="Blazor">
        <img src="../../../assets/images/vba.png" alt="VBA">
        <img src="../../../assets/images/java.png" alt="Java">
        <img src="../../../assets/images/angular.png" alt="Angular">
        <img src="../../../assets/images/html.png" alt="HTML">
        <img src="../../../assets/images/css.png" alt="CSS">
        <img src="../../../assets/images/python.png" alt="Python">
    </div>
    <br><br>
    <h3>REDES SOCIAIS</h3>
    <div class="skills">
        <a href="https://br.linkedin.com/in/murillohms?trk=people-guest_people_search-card" target="_blank"><img src="../../../assets/images/LinkedIn.png" alt="linkedn"/></a>
        <a href="https://github.com/MurilloHMS" target="_blank"><img src="../../../assets/images/github-logo.png" alt="github"></a>
    </div>
</div>

<div id="projects" class="projects-section">
    <h2>PROJETOS</h2>
    <div class="projects">
      <div class="project-card">
        <img src="../../../assets/images/CdePk.png" alt="Controle de estoque" />
        <div class="project-info">
          <h3>Controle estoque Proauto Kimium</h3>
          <p>Clique abaixo para visitar</p>
          <a href="/projetos/controle-estoque" class="visit-link">→</a>
        </div>
      </div>
      <div class="project-card">
        <img src="../../../assets/images/pkwebHome1.png" alt="Project" />
        <div class="project-info">
          <h3>Site Proauto Kimium</h3>
          <p>Clique abaixo para visitar</p>
          <a href="#" target="_blank" class="visit-link">→</a>
        </div>
      </div>
      <div class="project-card">
        <img src="../../../assets/images/fpHome2.png" alt="FlexPro" />
        <div class="project-info">
          <h3>FlexPro</h3>
          <p>Clique abaixo para visitar</p>
          <a href="#" target="_blank" class="visit-link">→</a>
        </div>
      </div>
      <div class="project-card">
        <img src="../../../assets/images/ExcelVBA.png" alt="Project" />
        <div class="project-info">
          <h3>Planilhas VBA Excel</h3>
          <p>Clique abaixo para visitar</p>
          <a href="#" target="_blank" class="visit-link">→</a>
        </div>
      </div>
      <div class="project-card">
        <img src="../../../assets/images/kcLogin.png" alt="Project" />
        <div class="project-info">
          <h3>Khora Control </h3>
          <p>Clique abaixo para visitar</p>
          <a href="#" target="_blank" class="visit-link">→</a>
        </div>
      </div>
      <div class="project-card">
        <img src="../../../assets/images/ftapp1.png" alt="Project" />
        <div class="project-info">
          <h3>FlexiTools</h3>
          <p>Clique abaixo para visitar</p>
          <a href="#" target="_blank" class="visit-link">→</a>
        </div>
      </div>
      <!-- <div class="project-card">
        <img src="../../../assets/images/CdePk.png" alt="Project" />
        <div class="project-info">
          <h3>Suporte TS</h3>
          <p>Clique abaixo para visitar</p>
          <a href="#" target="_blank" class="visit-link">→</a>
        </div>
      </div> -->
      <div class="project-card">
        <img src="../../../assets/images/dpproject.png" alt="Project" />
        <div class="project-info">
          <h3>Dholphin Project</h3>
          <p>Clique abaixo para visitar</p>
          <a href="#" target="_blank" class="visit-link">→</a>
        </div>
      </div>
      <div class="project-card">
        <img src="../../../assets/images/knLogin.png" alt="Khora Note" />
        <div class="project-info">
          <h3>Khora Note</h3>
          <p>Clique abaixo para visitar</p>
          <a href="projetos/khora-note" class="visit-link">→</a>
        </div>
      </div>
      <!-- <div class="project-card">
        <img src="../../../assets/images/CdePk.png" alt="Project" />
        <div class="project-info">
          <h3>Projeto Scorpion</h3>
          <p>Clique abaixo para visitar</p>
          <a href="#" target="_blank" class="visit-link">→</a>
        </div>
      </div> -->
      <!-- <div class="project-card">
        <img src="../../../assets/images/CdePk.png" alt="Project" />
        <div class="project-info">
          <h3>Calculadora Java</h3>
          <p>Clique abaixo para visitar</p>
          <a href="#" target="_blank" class="visit-link">→</a>
        </div>
      </div> -->
    </div>
  </div>



  <div id="experience" class="experience-section">
    <h2>EXPERIÊNCIA</h2>
    <div class="experience">
      <div class="experience-item">
        <img src="../../../assets/images/Logo Proauto.png" alt="Proauto Kimium" />
        <div class="experience-info">
          <h3>Programador Pleno</h3>
          <p class="date">Jul 2024 – Atual</p>
          <ul>
            <li>Responsável por automações em VBA no excel melhorando a entrega de relatórios.</li>
            <li>Desenvolvimento de soluções em C# e .Net utilizando Angular no Front End e aspNet no Back End. </li>
            <li>Responsável por reduzir em 93% o tempo para emitir e entregar relatórios financeiros, sendo realizados em planilhas 100% automatizadas com VBA.</li>
            <li>Responsável pelo desenvolvimento do site de vendas em Angular e Asp Net</li>
          </ul>
        </div>
      </div>
      <div class="experience-item">
        <img src="../../../assets/images/artsystem.jpg" alt="artsystem software" />
        <div class="experience-info">
          <h3>Analista de Suporte</h3>
          <p class="date">Jun 2023 – Mai 2024</p>
          <ul>
            <li>Resolução de problemas técnicos para usuários via chamados.</li>
            <li>Garantia da eficiência operacional do sistema.</li>
            <li>Correção de problemas fiscais utilizando SQL</li>
            <li>Planejamento, implementação e configuração de servidores Windows Terminal Server (WTS) e Sql Server, garantindo estabilidade e desempenho.</li>
            <li>Instalação de Pontos de venda (PDVs) e correção de cupons fiscais em Sistemas autenticadores e transmissores (Sat), assegurando precisão e integridade dos registros fiscais</li>
            <li>Criação de soluções em C# para suporte remoto, facilitando a conexão em servidores remotos.</li>
            <li>Automação do processo de instalação do sistema, aumentando a eficiência e reduzindo o tempo de implementação.</li>
          </ul>
        </div>
      </div>
      <div class="experience-item">
        <img src="../../../assets/images/casasdamamae.png" alt="casas da mamae" />
        <div class="experience-info">
          <h3>Programador Jr</h3>
          <p class="date">Nov 2020 – Abr 2023</p>
          <ul>
            <li>Liderança no projeto e implantação de um sistema para calcular impostos e valores finais dos produtos em Python</li>
            <li>Automação eficaz para análize de notas fiscais e gestão de impostos, resultando em melhorias na eficiência operacional</li>
            <li>Gerenciamento bem sucedido do cadastro de produtos nas filiais</li>
            <li>Liderança no processo de emissão de notas fiscais de transporte entre filiais e clientes. Assegurando a conformidade com as regulamentações fiscais e estabelecimento de fluxo de trabalho eficiente</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <app-certificacoes></app-certificacoes>
  
  